/* ------------------------------------------------------------------------- */
/* vars  */

:root {
  --basic-background: #F1F5F7;

  --basic-white: #FFFFFF;
  --basic-black: #000000;

  /* TODO color names */
  --basic-gray-dark: #293449;
  --basic-gray: #3D546F;
  --basic-gray-light: #C5C5C5;
  --basic-gray-light-text: #32425C;

  --basic-green: #63A63E;
  --basic-green-light: #5FBB2D;

  --basic-red: #EE3643;

  --basic-gold: #FFD180;
}

/* ------------------------------------------------------------------------- */
/* global */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', sans-serif;

  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------------------------------------------------------- */
/* header */

.header-menu {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);

  background-color: var(--basic-gray-dark);
}

.header-menu a {
  color: var(--basic-white);
}

.logo-box {
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

header .logo-box {
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: 53px;
  padding-right: 59px;
}

footer .logo-box {
  padding-top: 21px;
  padding-bottom: 25.4px;
  padding-left: 42px;
  padding-right: 42px;
}

.header-menu-btn {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 19px;
  padding-right: 16px;

  text-decoration: none;
}

/* search field */

.search-field {
  color: var(--basic-white);

  background-color: transparent;
  border: 0;
}

.search-field:focus {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

/* button buy */

.btn-buy {
  background-color: var(--basic-green);
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: var(--basic-green-light);
}

.header-info {
  background-color: var(--basic-background);
}

.header-about {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  color: var(--basic-red);
}

.header-contacts {
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 45px;
}

.header-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-red);

  border-color: var(--basic-white);
  border-size: 1px;
  border-style: solid;
}

.header-contacts address {
  font-size: 14px;
  line-height: 24px;

  text-align: center;
  color: var(--basic-gray-light-text);
}

/* header user menu */

.header_user_menu {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
  text-decoration: none;

  background-color: var(--basic-white);
}

.header_user_menu a {
  color: var(--basic-black);
  text-decoration: none;
}

.header_user_menu a:hover,
.header_user_menu a:focus {
  color: var(--basic-red);
}

.header_user_menu a:active {
  color: var(--basic-gray-light);
}

/* header navigation */

.header-nav {
  background-color: var(--basic-gray-light-text);
}

.header-nav ul {
  list-style: none;
}

.header-nav a {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: var(--basic-white);

  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 27px;
  padding-right: 24px;
}

.header-nav a:hover,
.header-nav a:focus {
  background: var(--basic-gray-dark);
  box-shadow: inset 0px -5px 0px #293449;
}

.header-nav a:active {
  opacity: 0.5;
}

/* ------------------------------------------------------------------------- */
/* section about */

.about p {
  font-size: 13px;
  line-height: 24px;
}

.about h1, h2{
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;
}

.about li {
  font-size: 18px;
  line-height: 24px;

  list-style-image: url(../img/icon_list_line.svg);
}

.link-important {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-white);

  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 40px;
  padding-right: 40px;

  background: var(--basic-red);
}

/* ------------------------------------------------------------------------- */
/* footer */

footer {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-info {
  background-color: var(--basic-gray-light-text);
}

.footer-contacts {
  text-align: left;
}

footer ul {
  list-style: none;
}

.footer-info a {
  color: var(--basic-white);
  text-decoration: none;
}

.footer-info a:hover,
.footer-info a:focus {
  text-decoration: underline;
}

.footer-nav-subsections a {
  color: var(--basic-gold);
}

.footer-info a:active,
.footer-nav-subsections a:active {
  opacity: 0.5;
}

/* footer menu */

.footer-menu {
  background-color: var(--basic-gray-dark);
}

.footer-menu p>a {
  text-decoration: none;

  color: var(--basic-gold);
}

.footer-menu a:hover,
.footer-menu a:focus, {
  text-decoration: underline;
}

.footer-menu a:active {
  color: var(--basic-red);
}

/* social links */

.social-links ul {
  list-style: none;
}

.social-links-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;

  background: linear-gradient(0deg, #212A3A, #212A3A);
}

.social-links-item:hover,
.social-links-item:focus,
.social-links-item:active {
  background: var(--basic-red);
}

/* ------------------------------------------------------------------------- */
