/* ------------------------------------------------------------------------- */
/* vars  */

:root {
  --basic-background: #F1F5F7;

  --basic-white: #FFFFFF;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-black: #000000;

  --basic-gray-dark: #293449;
  --basic-gray: #3D546F;
  --basic-gray-light: #C5C5C5;
  --basic-gray-light: rgba(197, 197, 197, 0.3);
  --basic-gray-light-text: #32425C;
  --basic-gray-light-button: #98A0AD;
  --basic-gray-light-line: #E5E5E5;
  --basic-gray-light-price: #A9A9A9;

  --basic-green-dark: #518534;
  --basic-green: #63A63E;
  --basic-green-light: #5FBB2D;

  --basic-red: #EE3643;

  --basic-gold: #FFD180;

  --basic-brown-light: #F7F3EC;

  --card-yellow-light: #FFBF47;
  --card-blue: #3BBCE3;
  --card-purple: #DC91D8;
  --card-green: #8ED78F;
  --card-yellow: #FFC047;
}

/* ------------------------------------------------------------------------- */
/* global */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;

  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------------------------------------------------------- */
/* header */

.header_menu {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);

  background-color: var(--basic-gray-dark);
}

.header_menu a {
  color: var(--basic-white);
}

.logo_box {
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

header .logo_box {
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: 53px;
  padding-right: 59px;
}

footer .logo_box {
  padding-top: 21px;
  padding-bottom: 25.4px;
  padding-left: 42px;
  padding-right: 42px;
}

.header_menu_btn {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 19px;
  padding-right: 16px;

  text-decoration: none;
}

.cart_not_empty {
  background-color: var(--basic-red);
}

/* search field */

.search_field {
  background-color: transparent;
  border: 0;
}

.search_field::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  opacity: 1;
}

.search_field:focus {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

/* button buy */

.btn_buy {
  background-color: var(--basic-green);
}

.btn_buy:hover,
.btn_buy:focus {
  background-color: var(--basic-green-light);
}

.header_info {
  background-color: var(--basic-background);
}

.header_about {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  color: var(--basic-red);
}

.header_contacts {
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 45px;
}

.header_phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-red);

  border-color: var(--basic-white);
  border-width: 1px;
  border-style: solid;
}

.header_contacts address {
  font-size: 14px;
  line-height: 24px;

  text-align: center;
  color: var(--basic-gray-light-text);
}

/* header user info */

.header_user_info li>a {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-gray-light-text);

  text-decoration: none;
}

.header_user_info li:nth-child(1) {
  list-style: none;
}

/* header user menu */

.header_user_menu {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
  text-decoration: none;

  background-color: var(--basic-white);
}

.header_user_menu a {
  color: var(--basic-black);
  text-decoration: none;
}

.header_user_menu a:hover,
.header_user_menu a:focus {
  color: var(--basic-red);
}

.header_user_menu a:active {
  color: var(--basic-gray-light);
}

/* header navigation */

.header_nav {
  background-color: var(--basic-gray-light-text);
}

.header_nav ul {
  list-style: none;
}

.header_nav a {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: var(--basic-white);
}

.header_nav a:hover,
.header_nav a:focus {
  background: var(--basic-gray-dark);
  box-shadow: inset 0px -5px 0px #293449;
}

.header_nav a:active {
  opacity: 0.5;
}

/* ------------------------------------------------------------------------- */
/* main */

/* cards grid */

ul.cards_grid {
  list-style: none;
}

.cards_grid_item {
  width: 300px;
  height: 123px;
}

.cards_grid_item a {
  color: var(--basic-white);
  text-decoration: none;
}

p.cards_grid_item_mark {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--basic-white);
  background-color: var(--basic-red);
}

.cards_grid_item_title {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: left;

  display: inline;
}

.cards_grid_item_desc {
  color: white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--basic-white-opacity);
}

.cards_grid_item_desc:hover,
.cards_grid_item_desc:focus {
  background-color: var(--basic-gray-light-opacity);
}

.cards_grid_item img {
  width: 44px;
  height: 65px;
}

.card_bg_materials {
  background-color: var(--card-yellow-light);
}

.card_bg_tools {
  background-color: var(--card-blue);
}

.card_bg_tech {
  background-color: var(--card-purple);
}

.card_bg_discounts {
  background-color: var(--card-green);
}

.card_bg_delivery {
  background-color: var(--card-yellow);
}

/* slideshow */

.slideshow_current a {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--basic-red);

  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 46px;
  padding-right: 46px;

  width: 192px;
  height: 38px;
}

.slideshow_title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slideshow_desc {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

/* sections */

.main_section_header {
  background-color: var(--basic-brown-light);

  padding-top: 29px;
  padding-bottom: 30px;
}

.main_section_header a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--basic-red);

  padding-top: 9px;
  padding-bottom: 11px;
  padding-right: 24px;
  padding-left: 24px;

  width: 192px;
  height: 38px;
}

/* manufacturers logo */

.manufacturer_list {
  list-style: none;
}

.manufacturer_item {
  width: 220px;
  height: 145px;

  text-align: center;

  border-width: 1px;
  border-style: solid;
  border-color: var(--basic-gray-light-line);
  border-radius: 2px;
}

.manufacturer_item:hover,
.manufacturer_item:focus {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturer_item:active {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}

.manufacturer_item img {
  width: 125px;
  height: 40px;
}

/* services */

.services {
  background-color: var(--basic-background);
}

.vertical_tabs_menu {
  list-style: none;
}

.vertical_tabs_menu_item {
  margin-bottom: 1px;
}

.vertical_tabs_menu_item a {
  display: block;

  text-decoration: none;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: var(--basic-white);

  background-color: var(--basic-gray-light-text);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;

  width: 240px;
  height: 61px;

  padding-top: 13.5px;
  padding-bottom: 17.5px;
  padding-left: 22px;
  padding-right: 139px;
}

.vertical_tabs_menu_item a:hover,
.vertical_tabs_menu_item a:focus {
  background: var(--basic-gray-dark);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.vertical_tabs_menu_item_active a {
  color: var(--basic-gray-light-text);
  background-color: var(--basic-white);
  border: none;
}

.vertical_tabs_content h3 {
  color: var(--basic-gray-light-text);
}

/* ------------------------------------------------------------------------- */
/* section about */

.about p {
  font-size: 13px;
  line-height: 24px;
}

.about li {
  font-size: 18px;
  line-height: 24px;

  list-style-image: url(../img/icon_list_line.svg);
}

.link_important {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-white);

  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 40px;
  padding-right: 40px;

  background: var(--basic-red);
}

/* ------------------------------------------------------------------------- */
/* footer */

footer {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer_info {
  background-color: var(--basic-gray-light-text);
}

.footer_contacts {
  text-align: left;
}

footer ul {
  list-style: none;
}

.footer_info a {
  color: var(--basic-white);
  text-decoration: none;
}

.footer_info a:hover,
.footer_info a:focus {
  text-decoration: underline;
}

.footer_nav_subsections a {
  color: var(--basic-gold);
}

.footer_info a:active,
.footer_nav_subsections a:active {
  opacity: 0.5;
}

/* footer menu */

.footer_menu {
  background-color: var(--basic-gray-dark);
}

.footer_menu p>a {
  text-decoration: none;

  color: var(--basic-gold);
}

.footer_menu a:hover,
.footer_menu a:focus {
  text-decoration: underline;
}

.footer_menu a:active {
  color: var(--basic-red);
}

/* social links */

.social_links ul {
  list-style: none;
}

.social_links_item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;

  background: linear-gradient(0deg, #212A3A, #212A3A);
}

.social_links_item:hover,
.social_links_item:focus,
.social_links_item:active {
  background: var(--basic-red);
}

/* nav_path (breadcrumb) */

.nav_path a {
  text-decoration: none;
  color: var(--basic-black);
}

.nav_path a:hover,
.nav_path a:focus {
  text-decoration: underline;
}

.nav_path li {
  list-style-image: url(../img/icon_list_style_right.svg);
}

.nav_path li:nth-child(1) {
  list-style: none;
}

/* ------------------------------------------------------------------------- */
/* catalog */

.catalog_content {
  font-family: 'PT Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  color: var(--basic-black);
}

.catalog_product_name {
  text-align: left;

  background-color: var(--basic-background);

  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
}

/* catalog filter */

.catalog_filter fieldset {
  border: none;
}

.catalog_filter fieldset:nth-child(-n+2) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--basic-gray-light-line);
}

.catalog_filter legend {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}


.catalog_filter li {
  list-style: none;
}

.catalog_filter input {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.price_range_slider,
.price_range span {
  background-color: var(--basic-brown-light);
}

.price_rage span {
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
}

.catalog_filter button[type=submit] {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--basic-white);

  border-width: 1px;
  border-style: solid;
  border-color: var(--basic-gray-light-line);
}

/* catalog sort */

.catalog_sort {
  font-size: 13px;
  text-transform: uppercase;

  background-color: var(--basic-brown-light);
}

.catalog_sort li {
  list-style: none;
}

.catalog_sort a {
  color: var(--basic-black);
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
  opacity: 0.3;
}

.catalog_sort a:focus,
.catalog_sort a:hover {
  text-decoration-style: solid;
  opacity: 1;
}

a.catalog_sort_current {
  color: var(--basic-red);
  text-decoration: none;
  opacity: 1;
}

/* catalog products list */

ul.catalog_list {
  list-style: none;
}

.catalog_item {
  width: 220px;
  height: 318px;

  text-align: center;

  border-width: 1px;
  border-style: solid;
  border-color: var(--basic-gray-light-line);
  border-radius: 2px;
}

.catalog_item:hover,
.catalog_item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalog_item_mark {
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--basic-white);
  background-color: var(--basic-red);

  /*transform: rotate(45deg);*/
}

.catalog_active_item_buttons a {
  font-family: 'Cuprum', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;

  display: inline-block;

  width: 135px;
  height: 38px;

  border-radius: 2px;
}

.catalog_item_to_cart {
  text-decoration: none;
  color: var(--basic-white);

  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;

  padding-top: 10px;
  padding-bottom: 10px;

  margin-bottom: 10px;
}

.catalog_item_to_cart:hover,
.catalog_item_to_cart:focus {
  background: var(--basic-green-light);
}

.catalog_item_to_cart:active {
  background: var(--basic-green-dark);
}

.catalog_item_to_cart img {
  margin-left: 5px;
  margin-right: 3px;
}

.catalog_item_to_bookmarks {
  text-decoration: none;
  color: var(--basic-gray-light-text);

  border-width: 3px;
  border-style: solid;
  border-color: var(--basic-green);

  padding-top: 11px;
  padding-bottom: 9px;
}

.catalog_item_to_bookmarks:hover,
.catalog_item_to_bookmarks:focus {
  color: var(--basic-gray-light-button);
  border-color: var(--basic-gray-light-text);
}

.catalog_item_to_bookmarks:active {
  color: var(--basic-gray-light-button);
  border-color: var(--basic-gray-light-button);
}

.catalog_item h3 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  text-align: center;
}

.product_prices {
  font-weight: bold;
  font-size: 17px;
  line-height: inherit;
  text-transform: uppercase;
}

.product_prices p {
  color: var(--basic-gray-light-price);
  text-decoration-line: line-through;
}

.product_prices button {
  color: var(--basic-white);

  width: 141px;
  height: 38px;

  border: none;

  background: transparent;
  background-image: url(../img/button_buy.png);
  background-repeat: no-repeat;
}

/* catalog pagination */

.catalog_pagination {
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}

.catalog_pagination li {
  list-style: none;

  border-width: 1px;
  border-style: solid;
  border-color: var(--basic-gray-light-line);
  border-radius: 2px;
}

.catalog_pagination_current_page {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.catalog_pagination a {
  color: inherit;
  text-decoration: none;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.catalog_pagination a:active {
  border-color: var(--basic-red);
}

/* catalog bottom */

.catalog_product_info {
  text-align: left;

  background-color: var(--basic-background);
}

.catalog_product_info h2 {
  padding-top: 64px;
  padding-bottom: 25px;
}

.catalog_prouct_info p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* ------------------------------------------------------------------------- */
